*{
  margin: 0px;
  padding: 0px;
}
.main{
  width:1000px;
  margin:0 auto 0 auto;
}
.head{
  padding: 20px 0px 20px 0px;
  width: 1000px;
  background-color: #EEEEEB;
}
.nav0 ul li{
  list-style-type: none;
  display: inline-block;
  margin-left:20px;
  color:grey;
}
.nav0 li:hover{
  color:black;
}
.sec{
  height: 500px;
  background-repeat: no-repeat;
 background-image: url("imagere.jpg");
 margin-top:20px;
}
.div1{
  width:90px;
  height: 15px;
  border: 1px solid blue;
  margin-top:-80px;
  padding-top: 0.5px;
  margin-left: 30px;
  background-color: blue;
  color:white;
}
.div1h2{
  color:white;
  margin-top: 10px;
  margin-left: 30px;
}
h5{
  color:white;
  margin-left: 30px;
  color:grey;
}
h4{
  margin-left: 700px;
  margin-top: -10px;
  color:white;
}
.sec2{
  margin-left: -630px;

}
.sec3{
  width:120px;
  border:0.5px solid grey;
  padding-top: 20px;
  height:80px;
  margin-left: 500px;
  margin-top: -100px;
  text-align: center;
}
.sec3 h3{

}
.sec4{
  width:120px;
  border:0.5px solid grey;
  padding-top: 20px;
  height:80px;
  margin-left: 160px;
  margin-top: -95px;

}
.sec5{
  width:120px;
  border:0.5px solid grey;
  padding-top: 20px;
  height:80px;
  margin-left: 160px;
  margin-top: -95px;
}
.nav{
  margin-left: -640px;
  margin-top: 100px;
  width: 1000px;
}
.nav ul{
  list-style-type: none;
}
.nav ul li{
  float: left;
  width: 185px;
  margin-left: -20px;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bfbfbf;
  overflow: hidden;
}
.img1{
  margin-left: -680px;
  margin-top: -155px;
}
.img2{
  margin-top:-152px;
}
.img3{
  margin-top:-152px;
}
.img4{
  margin-top:20px;
}
.img5{
  margin-top:-150px;
}
.img6{
  margin-top:-150px;
}
.img7{
  margin-top:-151px;
}
.nav3 ol{
  list-style-type: none;
}
.nav3 ol li{
  float: left;
  width: 160px;
  display: block;
  overflow: hidden;
  margin-left:-15px;
}
.map iframe{
  width: 1000px;
  height:300px;
  margin-left:-1450px;
  margin-top: 100px;
}
.share{
  margin-top: 30px;
  float:left;
  height: 100px;
  margin-right: 30px;
  width: 150px;
  padding-top: 20px;
  overflow: hidden;
}
.extra{
  margin-top: 150px;
  margin-left: -1500px;
  }
.agent{
  margin-top: 30px;
  margin-left: 30px;
  
}
.cont{
  background-color: blue;
  color: white;
  width: 300px;
  height: 40px;
  margin-left: 220px;
  border:none;
}
.simi1{
  margin-top: 20px;
  margin-left: 820px;
}
.simi2{
  margin-left: 820px;
  margin-top: 50px;
}
.simi3{
  margin-left: 820px;
  margin-top: 50px;
}

.foot ul li{
  list-style-type: none;
  display: inline-block;
  margin-left:20px;
  color:white;
  margin-left: -2px;
  margin-right: -2px;
  padding-bottom: 15px;
  background-color: #848484;
  width:170px;
  height: 20px;
  padding-top: 20px;
}
